In [19]:
import pandas as pd
import numpy as np
train_dataset = pd.read_csv('C:/Users/Олеся/3 course/Python_labs/bdz/train.csv')
print(train_dataset)

     PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]

In [20]:
# анализ данных
columns_target = ['Survived']
# значащие для обучения данные:
columns_train = ['Pclass', 'Sex', 'Age', 'Fare']
X = train_dataset[columns_train]
Y = train_dataset[columns_target]

In [21]:
# Проверяем есть ли пустые ячейки
X['Sex'].isnull().sum()

0

In [22]:
X['Fare'].isnull().sum()

0

In [23]:
X['Age'].isnull().sum()

177

заполняем пустые ячейки медианным значением по возрасту

In [24]:
X['Age'] = X["Age"].fillna(X['Age'].median)

C:\Users\Олеся\AppData\Local\Temp\ipykernel_9848\861956204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Age'] = X["Age"].fillna(X['Age'].median)

In [25]:
X['Age'].isnull().sum()

0

с помощью словаря переводим женщин в 1, мужчик в 0

In [26]:
d={'male': 0, 'female':1}

In [27]:
X['Sex'] = X['Sex'].apply(lambda x:d[x])

C:\Users\Олеся\AppData\Local\Temp\ipykernel_9848\2841940904.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X['Sex'] = X['Sex'].apply(lambda x:d[x])

In [28]:
X['Sex'].head()

0    0
1    1
2    1
3    1
4    0
Name: Sex, dtype: int64

обучаем модель

In [29]:
from sklearn import svm

ModuleNotFoundError: No module named 'sklearn'